<!DOCTYPE html>
<html>
<head>
    <title>Group Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/page.css">
</head>
<body>
    <h1>Study Groups</h1>
    <input type="checkbox" id="check">
    <nav>
        <div class="icon">My <b style="color: darkblue;">K</b>udu <b style="color: darkblue;">B</b>uddy</div>
        <div class="search_box">
            <input type="search" placeholder="Search here">
            <span class="fa fa-search"></span>
        </div>
        <ol>
            <li><a href="/login/home">home</a></li>
            <li><a href="/profile">profile</a></li>
            <li><a href="#">contact us</a></li>
            <li><a href="#">about</a></li>
        </ol>
        <label for="check" class="bar">
            <span class="fa fa-bars" id="bars"></span>
            <span class="fa fa-times" id="times"></span>
        </label>
    </nav>
    <section></section>
    <div id="container-class" class="container">
        <script>
            let usersGroup = []

            sendingToDB().then(response => {
                //myGroupMembers = response
                usersGroup = response
                console.log(usersGroup)
                displayGroups(usersGroup)

        });
            const displayGroups = (groupname) => {
                
                const class_container = document.getElementById('container-class')
                const htmlString = groupname
                .map((groupname) => {
    
                    return `
                    
                        <div id="${groupname}" class="box">
                            <div id="${groupname}" class="info">
                                <h2 id="${groupname}">${groupname}</h2>
                                <a id="${groupname}" href="/login/home/group/chat" class="btn">Enter Group</a>
                                <a href="#" id="${groupname}" class="leave" onclick="myFunction(this.id); return false;">Leave Group</a>
                            </div>
                        </div>
    
                    `
    
                })
                .join('')    
                class_container.innerHTML = htmlString
            }
            const numberOfTeams = usersGroup.length
            function myFunction(clicked_id) {
                
                //alert("I am a pop up ! " + clicked_id);
                var txt;
                var r = confirm("Are you sure you want to leave "+clicked_id+"\nOK or Cancel.");
                if (r == true) {
                txt = "You pressed OK!";
                alert(txt)
                var id_count = document.getElementById(clicked_id)
                console.log(id_count)
                for(i=0;i<5;i++) id_count.remove()
                } else {
                txt = "You pressed Cancel!";
                alert(txt)
                }
            }
            async function sendingToDB (email='1234',group='YEEEE') {
            const text = {
                memberemail : email,
                groupname: group
            }
            const options = {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify(text)
            }
            const response = await fetch('/test', options)
            return response.json()
            }

        </script>
    </div>
</body>
</html>

<!--
<li class="character">

    <h2>${character.groupname}</h2>

</li> 
-->