<!DOCTYPE html>
<html>
<head>
    <title>Group Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/page.css">
</head>
<body>
    <h1>Study Groups</h1>
    <input type="checkbox" id="check">
    <nav>
        <div class="icon">My <b style="color: darkblue;">K</b>udu <b style="color: darkblue;">B</b>uddy</div>
        <div class="search_box">
            <input type="search" placeholder="Search here">
            <span class="fa fa-search"></span>
        </div>
        <ol>
            <li><a href="/login/home">home</a></li>
            <li><a href="/profile">profile</a></li>
            <li><a href="#">contact us</a></li>
            <li><a href="#">about</a></li>
        </ol>
        <label for="check" class="bar">
            <span class="fa fa-bars" id="bars"></span>
            <span class="fa fa-times" id="times"></span>
        </label>
    </nav>
    <section></section>
    <div id="container-class" class="container">
        <script>
            let usersGroup = []
    
            sendingToDB().then(response => {
                //myGroupMembers = response
                usersGroup = response
                console.log(usersGroup)
                displayCharacters(usersGroup)
            })
            const displayCharacters = (groupname) => {
                
                const class_container = document.getElementById('container-class')
                const htmlString = groupname
    
                .map((groupname) => {
    
                    return `
                    
                        <div class="box">
                            <div class="info">
                                <h2>${groupname}</h2>
                                <a href="/login/home/group/chat" class="btn">Enter Group</a>
                                <a href="#" class="leave">Leave Group</a>
                            </div>
                        </div>
    
                    `
    
                })
    
                .join('')
    
                class_container.innerHTML = htmlString
    
    }
            const numberOfTeams = usersGroup.length
            /*function addClassForGroup(){
                var class_container = document.getElementById('container-class');
                class_container.className += 'box';
                class_container.className +='info';
            }*/
            async function sendingToDB (email='1234',group='YEEEE') {
            const text = {
                memberemail : email,
                groupname: group
            }
            const options = {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify(text)
            }
            const response = await fetch('/test', options)
            return response.json()
            }
        </script>
    </div>
</body>
</html>

<!--
<li class="character">

    <h2>${character.groupname}</h2>

</li> 
-->