<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Homepage</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
    </head>
        <body>
            <div class="backgrd">
            <div class="square">
            <h1>Welcome to my Kudu Buddy <%= name%></h1>
            </div>
            <div class="container">
                <div class="box">
                    <img src="../utils/group-picture.jpg">
                    <div class="info">
                    <h2>Create A Study Group</h2>
                    <p>Let's make new friends and study with them</p>
                    <a href="/login/home/creategroup" class="btn">Click Me</a>
                    </div>
                </div>
                <div class="box">
                    <img src="../utils/view-profile.jpg">
                    <div class="info">
                        <h2>View Your Profile</h2>
                        <p>See your study groups, friends and status</p>
                        <a href="/profile" class="btn">Click Me</a>
                    </div>
                </div>
                <div class="box">
                    <img src="../utils/speech-bubbles.jpg">
                    <div class="info">
                        <h2>View Your Kudu Groups</h2>
                        <p>See your teams, Chat with them and Enjoy the platform</p>
                        <a href="/login/home/group" class="btn">Click Me</a>
                        <script></script>
                    </div>
                </div>
                <div class="box">
                    <img src="../utils/onlineMeeting.jpg">
                    <div class="info">
                        <h2>Send an Invite</h2>
                        <p>Generate links or code to send to students to join the kudu fun</p>
                        <a href="/sendInvite" class="btn">Click Me</a>
                    </div>
                </div>
            </div>
        <form class="myFormClass" action="/logout?_method=DELETE" method="POST">
            <div class="LogoutBtn">
            <button type="submit">Log Out</button>
            </div>
        </form>
        </div>
        </body>
</html>
