<!DOCTYPE html>
<html>

<head>
    <title>Inside Group Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/insideGroups.css">
    <script src="https://kit.fontawesome.com/67c66657c7.js"></script>
</head>

<body>
    <input type="checkbox" id="check">
    <nav>
        <div class="icon">My <b style="color: darkblue;">K</b>udu <b style="color: darkblue;">B</b>uddy</div>
        <div class="search_box">
            <input type="search" placeholder="Search here">
            <span class="fa fa-search"></span>
        </div>
        <ol>
            <li><a href="/login/home">home</a></li>
            <li><a href="/profile">profile</a></li>
            <li><a href="#">contact us</a></li>
            <li><a href="#">about</a></li>
        </ol>
        <label for="check" class="bar">
            <span class="fa fa-bars" id="bars"></span>
            <span class="fa fa-times" id="times"></span>
        </label>
    </nav>
    <section></section>
    <div class="nav_bar">
        <ul>
            <li><a href="/login/home/group/chat" id="onlink">Chats</a></li>
            <li><a href="/login/home/group/team">Team</a></li>
            <li><a href="/login/home/group/files">Files</a></li>
            <li><a href="/login/home/group/notes">Meetings</a></li>
            <li><a href="/login/home/group/poll">Polls</a></li>
        </ul>
    </div>
    <div class="main_container">
        <ol id="message" class="chatMessage"></ol>
        <div class="chatFooter">
            <!--Creating the form send the message -->
            <form id="chatBox">
                <input type="text" name="message" id="messageInput" placeholder="Begin typing message..." autofocus autocomplete="off" />
                <button type="submit" id="sendMessageButton">Send Message</button>
            </form>
        </div>

        <!-- Socket.io script-->
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/chat.js"></script>
    </div>
</body>