
 
 body {
     background-color:cornflowerblue ;
     display: block;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
     margin: 0;
 }
 

 
.main{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar{
    background-color:#4CAF50;
    color: white;
    height: 100%;
}
.sidebar a{
    margin-left: 10px;
    display: block;
    color: white;
    padding-bottom: 10px;
    font-size: 30px;
    text-decoration: none;
}
.card{
    position: relative;
    display: inline;
    flex-direction: column;
}
